:root {
    --font-body: -apple-system, blinkmacsystemfont, 'Segoe UI', sans-serif;
    --font-heading: georgia, serif;
    --icon-stroke-width: 1.7;
    --size-320px: 320px;
    --size-4px: 4px;
    --size-14px: 14px;
    --size-12px: 12px;
    --size-16px: 16px;
    --size-44px: 44px;
    --size-3px: 3px;
    --size-32px: 32px;
    --size-negative-0-8px: -0.8px;
    --size-8px: 8px;
    --size-17px: 17px;
    --size-22px: 22px;
    --size-480px: 480px;
    --size-100dvh: 100dvh;
    --size-100px: 100px;
    --size-24px: 24px;
    --size-28px: 28px;
    --size-5px: 5px;
    --size-11px: 11px;
    --size-13px: 13px;
    --size-34px: 34px;
    --size-negative-1-5px: -1.5px;
    --size-19px: 19px;
    --size-1px: 1px;
    --size-18px: 18px;
    --size-20px: 20px;
    --size-negative-8px: -8px;
    --size-10px: 10px;
    --size-15px: 15px;
    --size-negative-44px: -44px;
    --size-negative-100px: -100px;
    --size-negative-1px: -1px;
    --size-7px: 7px;
    --size-49px: 49px;
    --size-45px: 45px;
    --size-2px: 2px;
    --size-25px: 25px;
    --size-23px: 23px;
    --size-21px: 21px;
    --size-6px: 6px;
    --size-39px: 39px;
    --size-48px: 48px;
    --size-9px: 9px;
    --size-47px: 47px;
    --size-60px: 60px;
    --size-50px: 50px;
    --size-128px: 128px;
    --size-negative-0-7px: -0.7px;
    --size-30px: 30px;
    --size-64px: 64px;
    --size-414px: 414px;
    --size-100vw: 100vw;
    --size-40px: 40px;
    --size-70px: 70px;
    --size-26px: 26px;
    --size-46px: 46px;
    --size-92dvh: 92dvh;
    --size-0-5em: 0.5em;
    --size-55px: 55px;
    --font-weight-750: 750;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --line-height-1-6: 1.6;
    --line-height-1-2: 1.2;
    --line-height-1-4: 1.4;
    --line-height-1-8: 1.8;
    --letter-spacing-0: 0;
    --opacity-0-6: 0.6;
    --opacity-0: 0;
    --font-variant-numeric-tabular-nums: tabular-nums;
}
